/* principale */
  body {
    background-image: url(../img/sfondo.jpg);
    background-size: cover;
  }

  #contenitore {
      margin: 2% 20%;
  }

/*header */
  header {
    border-bottom: solid #ccc 1px;
  }

  img {
    margin-bottom: 10px;
  }

  .highlight {
      color: white;
      font-size: 23px;
      font-family: Product Sans;
  }

  #g {
    color: red;
  }

/* ricerca */
  #ricerca {
    margin: 7px 0;
  }

  #go {
    display: none;
  }

  #search {
    color: #ccc;
    background-color: #fff;
    padding: 2px 130px 2px 0px;
    font-size: 12px;
  }

  #vai {
    color: #000;
    margin-left: 3px ;
    background-color: #ccc;
    padding: 2px 8px;
    font-size: 12px;
  }

/* email da leggere*/
  #unread {
    border-radius: 50%;
    background-color: #c7c2c8;
    padding: 1px;
    border-color: #ccc;
    color: #2b496d;
}

/*lista email*/
  .email {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
    margin: 3px 0;
  }

  .no {
    background-color: #d2d2d2;
    border:1px solid #000;
  }

  #yes {
    background-color: #fff;
  }

  .testo {
    color: #a3a29e;
  }

/*footer */
  footer {
    text-align: center;
    color: #25456b;
    font-size: 20px;
  }

#gmail {
    color: #fff;
    font-family: Product Sans;
  }
